
<html>
  <head>
    <title>
      Melody
    </title>
    <script src="../static/jquery.min.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href="../static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
      <script>
          function goNext(frontBack) {
              var page = {{ page }};
              if (frontBack) {
                page = page + 1;
                window.location = "/?song="+page;
            }
            else {
              page = page - 1;
              window.location = "/?song="+page;
            }
          }

      </script>
    <!-- Audio file under me -->
    <audio class="audioFile" {{ autoplay['autoplay'] }} reload="auto" src="{{ first['url'] }}" onended="goNext(true);">
    </audio>
    <!-- end of audio file -->
    <div class="container">
      <div class="leftpane sidebarContainer">
		<div class="sidebar">
          <div class="topHeader">
            <h2>
              Playlists
            </h2>
          </div>
          <ul>
                
          </ul>
      </div>
  </div>
  <div class="rightpane contentContainer">
    <div class="content" style="overflow:scroll;">
      <div class="topHeader">
        <h2>Your Music</h2>
      </div>
      <div style="height:0; overflow:hidden;">
        <form method='post' enctype="multipart/form-data">
          <input type="file" class="songUploadInput" name="song[]" multiple="" >
          <input type="submit" class="submitSongAddition" value="submit"/>
        </form>
      </div>
      <button type="file_" class="uploadBtn">Upload</button>
      <ul>
        {% for x in songs %}
        <li class="song" id="Dumpweed" name="../static/songs/8f265f1e1d0d49aab798cb127fe59dd8.mp3">
          {{ x['title'] }} 
          <span class="artist">
            by 
        <span class="artistName">
             {{ x['artist'] }}
            </span>
          </span>
        </li>
        {% endfor %}
      </ul>
  </div>
  </div>
  </div>
  <div class="player">
	<div class="leftpane leftControlsContainer">
      <div class="controls">
        <button class="backwards" type="button" onclick="goNext(false)">
        </button>
        <button class="playPause" onclick="playPause()" name="play" type="button">
        </button>
        <button class="forwards" type="button" onclick="goNext(true)">
        </button>
      </div>
  </div>
  <div class="rightpane">
    <div class="songPlayingInfo">
      <h3 class="playingSong">
          {{ first['title'] }}
      </h3>
      <h5 class="playingArtist">
          {{ first['artist'] }}
      </h5>
    </div>
    <button class="sound" type="button">
    </button>
    <div class="soundDropup">
      <input value="50" type="range" min="0" max="100" class="volumizer"/>
    </div>
  </div>
  </div>
  
  
  <!-- Upload popup, until next time bud, you're gorgeous, don't worry about what others think. You're amazing and may never be used again. Ok I'll stop this comment now.
<div class="uploadPopup">
<div class="uploadPopupWindow">
<h2>
Upload
</h2>
</div>
</div>
-->
  
  <script src="../static/js/js.js">
  
  </script>

</body>
</html>
